<div>
  <div class="home-banner">
    <div class="image-banner">
      <div class="container">
        <div><a> <%= link_to 'Create a movie list', new_list_path, class: 'btn btn-ghost' %> </a></div>
          <div>
          <h1>My Movie App</h1>
          </div>
            <div class="row">
              <h2>My movie lists</h2>
                <% @lists.each do |list| %>
                  <div class="co-12 colsm-6 col-md-4">
                    <%= link_to list_path(list), class:'btn btn-light' do %>
                      <%= list.name %>
                    <% end %>
                  </div>
                <% end %>
            </div>
      </div>
    </div>
  </div>
</div>
